body {
  background-color: #184D47;
  color: white;
  margin: 0; /*all 4 sides are set to 0*/
  text-align: center;
  font-family: monospace, serif;
  font-size: 1.2em;
}

h1 {
   color: white;
   margin: 50px auto 0 auto; /* top right bottom left*/
   font-family: "VT323", sans-serif;
   font-size: 4.5rem;  /* 1 em (M) = 16px = 100%; 90px/16px =562.5%*/
   /* rem: root em, igonore all the parents' settings */
   line-height: 2;

   /* "Sacramento" */
   /* margin: 0 auto 0 auto;
   text-align: center; */
}

h2 {
  color: #FAD586;
  font-family: "VT323", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}


h3 {
  color: #FBF46D;
  font-family: monospace, sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  width: 20%
}

.circular {
  border-radius: 50%;
}

.container {
  position: relative;
}

.top-container {
  background-color: #184D47;
  position: relative;
  padding-top: 110px;
  /* padding: 20px; */
  /* width: 200px;
  height: 200px;
  /* padding: 20px; */
  /*margin: 20px;*/
  /* border: solid 10px; */
  /* display: inline-block;
  position: relative;
  left: 520px; */
  /* positon: fixed; */
}

.middle-container {
  /* background-color: #96BB7C; */
  background-color: #184D47;
  /* margin-left: 260px; */
  /* display: inline-block; */
  /* position: absolute;
  left: 260px; */
}

.bottom-container {
  /* background-color: #96BB7C; */
  background-color: #184D47;
  margin: 20px auto 20px auto;
  /* margin-left: 500px; */
  /* display: inline-block;
  position: relative;;
  right: 480px; */
  /* position: absolute;
  top: 500px;
  left: 500px; */
}

.website {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;

}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.circular-img {
  border-radius: 50%;
}

.profile {
  width: 50%;
  margin: 50px auto 50px auto;
}

.giphy-embed {
  border-radius: 60%;
}

.skills-img {
  /* border-radius: 50%; */
  width: 15%;
  height: auto;
  display: inline-block;
  float: left;
  margin-right: 30px;
}

.web-img {
  border-radius: 50%;
  width: 30%;
  height: auto;
  display: inline-block;
  float: right;
  margin-left: 30px;
}

.tea-img {
  border-radius: 50%;
  width: 30%;
  height: auto;
  display: inline-block;
  float: right;
  margin-left: 30px;
}

.contact-me {
  margin: 20px auto 20px auto;
}

.btn {
  background: #FDA77F;
  background-image: -webkit-linear-gradient(top, #FDA77F, #C9D99E);
  background-image: -moz-linear-gradient(top, #FDA77F, #C9D99E);
  background-image: -ms-linear-gradient(top, #FDA77F, #C9D99E);
  background-image: -o-linear-gradient(top, #FDA77F, #C9D99E);
  background-image: linear-gradient(to bottom, #FDA77F, #C9D99E);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: monospace;
  color: #000000;
  font-size: 20px;
  width: 10%;
  padding: 10px 20px 10px 20px;
  border: solid #445C3C 2px;
  text-decoration: none;
  margin: 20px auto 20px auto;
}

.btn:hover {
  background: #FAE8C8;
  text-decoration: none;
}

.footer-link {
  color: #FAD586;
}
